body {
    background-color: black;
    text-align: center;
    margin-left:-30px;
}

h1 {
    font-family: monospace;
    font-size: .5em;
    color: lime;

}

input {
    background-color: black;
    color: lime;
    box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.1);
    border: .05em solid white;
    border-radius: 5px;
    padding: 12px;
    margin: auto;
    margin-top: 20px;
    margin-right: 10px;
    width: 70%;
    font-family: monospace;
}

p {
    font-family: monospace;
    color: lime;
    box-shadow: 0 0 30px 1px rgba(0, 255, 0, 0.1);
    border: .15em dotted lime;
    border-radius: 10px 10px 10px 1px;
    font-size: 1em;
    width: 20em;
    text-align: left;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

button {
    background-color: black;
    color: lime;
    box-shadow: 0 0 30px 1px rgb(62, 91, 17);
    border: .15em solid lime;
    border-radius: 2px 2px 2px 2px;
    font-family: monospace;
    width:13%;
    padding: 1em;
}

button {
    transition-duration: 0.1s;
  }
  
  button:hover {
    background-color: lime;
    color: black;

  }

h3 {
    font-family: monospace;
    background-color: black;
    color: lime;
    box-shadow: 0 0 30px 1px rgba(0, 255, 0, 0.1);
    border: .15em dotted lime;
    border-radius: 10px 10px 10px 1px;
    font-size: 1em;
    width: 80%;
    text-align: left;
    padding: 10px;
    margin: auto;
    margin-top: 20px;

}


h2 {
    font-family: monospace;
    background-color: black;
    color: rgb(200, 200, 200);
    box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.1);
    border: .15em dotted  rgb(145, 145, 145);
    border-radius: 10px 10px 1px 10px;
    font-size: 1em;
    width: 80%;
    padding: 10px;
    text-align: right;
    margin: auto;
    margin-top: 20px;
}


h4 {
    font-family: monospace;
    background-color: rgba(110, 0, 147, 0.257);
    color: rgba(222, 140, 255, 0.9);
    box-shadow: 0 0 20px 1px rgba(251, 0, 255, 0.3);
    border: .10em solid  rgba(183, 0, 255, 0.767);
    border-radius: 1px 1px 1px 1px;
    font-size: 1em;
    font-style: italic; 
    font-weight: 100;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

body {
    opacity:0;
    transition: 3s ease-out;
}
